@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Sometype+Mono&display=swap');

body {
    font-family: 'Sometype Mono', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    overflow-x: hidden;
}

@media (max-width: 600px) {
    .paintbrush {
        top: 33%;
    }
    .nav {
        top: 67%;
    }
    #emailFormContainer {
        top: 62%;
    }
    .image-container {
        flex-direction: column;
        margin-top: 15px;
    }
    .image {
        width: 100%;
    }
    .container {
        position: relative;
        width: 250px;
        margin-top: 25px;
        margin: 10px -8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.nav,
#emailFormContainer,
.container,
.image-container,
.projectlist {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.paintbrush {
    width: 275px;
    height: 275px;
    top: 34%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
}

.Email {
    cursor: pointer;
}

.nav {
    color: #fff;
    list-style: none;
    padding: 25px 0 25px 0;
    white-space: nowrap;
}

.nav>li {
    display: inline-block;
    padding: 0 18px 0 18px;
}

.nav>li>a {
    color: #fff;
}

.nav>li>a:hover {
    opacity: 0.7;
}

#emailFormContainer {
    text-align: center;
    white-space: nowrap;
}

#emailForm {
    display: none;
}

.hidden {
    display: none;
}

.emaillink,
.copy {
    color: white;
    text-decoration: none;
    transition: color 0s;
}

.emaillink:hover,
.copy:hover {
    opacity: 0.7;
    cursor: pointer;
}

.nav-link,
.home-link,
.music-link {
    color: white;
    text-decoration: none;
    align-items: left;
}

.home-link:hover {
    filter: brightness(70%);
}

.streaming-links a,
.streaming-links a:hover {
    margin: 0 12px;
    color: white;
    text-decoration: none;
    opacity: 1;
}

.streaming-links a:hover {
    opacity: 0.7;
}

.streaming-links i {
    font-size: 1.4em;
}

.image-container,
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 250px;
    margin-top: 25px;
    margin: 25px -8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 85%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: 0s;
}

.text {
    left: 50%;
    position: absolute;
    top: 80%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: white;
    white-space: nowrap;
}

.date {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    opacity: 0;
    transition: 0s;
    white-space: nowrap;
}

.container:hover .image {
    filter: brightness(70%);
}

.container:hover .text,
.container:hover .date {
    opacity: 1;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #242424;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #242424;
}

nav {
    justify-content: space-between;
    background-color: #242424;
    padding: 7px 20px;
    display: flex;
    align-items: center;
}

.projectlist {
    background-color: #242424;
    height: 500px;
    display: grid;
}